<!DOCTYPE html>
<html ng-app="app1" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Practica-Angular</title>
</head>
<body ng-controller="ctrlAlumnes">
    <!--això permet que sigui angular -->
    <div class="container"><!-- formulari que inclou les etiquetes amb els inputs corresponents per a poder calcular la quota mensual-->
        <div align='center'>
            <h3>Afegir i eliminar alumnes a una taula amb AngularJS</h3>
        </div>
        
        <form ng-submit= "insertar()" class="form-group">
        <div align="center">
            <!-- Cada input s'ha establert com a requerit per a que no es pugui deixar en blanc-->
            <div> 
                <div>
                    <label for="dni" class="etiqueta">Introduir Document d'Identitat</label>
                </div>
                <div class="input">
                    <input type="text" id="dni" ng-model="alu.dni" required>
                </div>
            </div>
            <div>
                <div>
                    <label for="nom" class="etiqueta">Introduir Nom de l'alumne</label>
                </div>
                <div class="input">
                    <input type="text" id="nom" ng-model="alu.nom" required>
                </div>
            </div>
            <div>
                <div>
                    <label for="llinatge" class="etiqueta">Introduir cognoms de l'alumne</label>
                </div>
                <div>
                    <input type="text" id="llinatge" ng-model="alu.llinatge" required>
                </div>
            <div>
                    <div>
                        <label for="email" class="etiqueta">Introduir direcció de correu electrònic</label>
                    </div>
                    <div class="input">
                        <input type="email" id="email" ng-model="alu.email" required>
                    </div>
                </div>
            <div>
                    <div>
                        <label for="nota">Introduir nota final</label>
                    </div>
                    <div>
                        <input type="number" id="nota" ng-model="alu.nota" max="10" min="0" required>
                    </div>
                </div><br>
                <div>
                    <button type="submit" class="btn btn-primary">Insertar</button>
                </div><br>
        </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dni</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Cognoms</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nota</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="persona in alumnes">
                        <td>{{$index+1}}</td>
                        <td>{{persona.dni}}</td>
                        <td>{{persona.nom}}</td>
                        <td>{{persona.llinatge}}</td>
                        <td>{{persona.email}}</td>
                        <td>{{persona.nota}}</td>
                        <td><button type="button" name="Eliminar" ng-click="eliminar($index)" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
            
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script>
                var app = angular.module('app1',[]);
                app.controller('ctrlAlumnes', ['$scope', function ($scope) {
                    //funció que per als valors de l'scope de la taula, al fer el submit del formulari
                    //i validat el camp del DNI s'inserten els valors dels inputs a la taula
                    $scope.alumnes = [];
                    $scope.insertar = function(){
                        if (validar($scope.alu.dni)) {
                                        $scope.alumnes.push({
                                            dni: $scope.alu.dni,
                                            nom: $scope.alu.nom,
                                            llinatge: $scope.alu.llinatge,
                                            email: $scope.alu.email,
                                            nota: $scope.alu.nota
                                        }); 
                                }   
                        }
                        $scope.alu = {};
                    
                    $scope.eliminar = function(idx){
                    //es passa per paràmetre l'index que és el que s'agafarà per eliminar files
                    $scope.alumnes.splice(idx,1);
                }
                }]);
            function validar(dni){
                //funció que comprova la identifiació introduïda al primer input.
                var lletra = dni.substr(dni.length -1).toUpperCase();
                var numero = dni.substr(0, dni.length - 1);
                var posicio = "TRWAGMYFPDXBNJZSQVHLCKE".charAt(numero % 23);          

                if(lletra === posicio){
                    return true;
                }else{
                    alert("Dni no vàlid");
                    return false;
                }
        }
            </script>
        <div>
        </body>
 </html>